:root {
  --primary-blue    : hsl(245, 75%, 52%);
  --pale-blue       : hsl(225, 100%, 94%);
  --very-pale-blue  : hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue       : hsl(223, 47%, 23%);
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  margin: 0;
}

.container {
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #e0e8ff;
  background-color: var(--pale-blue);
}

.card {
  width: 450px;
  height: 696px;
  text-align: center;
  background-color: white;
  border-radius: 16px;
}

.card img {
  border-radius: 16px 16px 0 0;
}

h2 {
  font-weight: 900;
  margin-top: 44px;
  margin-bottom: 10px;
  font-size: 28px;
  color: navy;
  color: var(--dark-blue);
}

.card p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #99b;
  color: var(--desaturated-blue);
  line-height: 1.5;
}

.attribution {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.card-item {
  display: -webkit-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  width: calc(350px - 48px);
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  background-color: #eee;
  background-color: var(--very-pale-blue);
  border-radius: 10px;
}

.icon {
  line-height: 48px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #aac;
  background-color: var(--pale-blue);
  color: #88a;
  color: var(--desaturated-blue);
  display: inline-block;
  text-align: center;
  font-size: 24px;
}

.details {
  display: inline-block;
  margin-right: 64px;
  line-height: 1.6;
  text-align: left;
}

.item-name {
  font-weight: 900;
  color: navy;
  color: var(--dark-blue);
}

.item-price {
  color: #88a;
  color: var(--desaturated-blue);
}

.card-item a {
  color: blue;
  color: var(--primary-blue);
  font-weight: 700;
  font-size: 14px;
}

.card-item a:hover {
  transform: scale(1.1);
}

.btn {
  display: block;
  margin: 16px auto 16px auto;
  width: 350px;
  border: 0;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15px;
}

.btn-primary {
  background-color: blue;
  background-color: var(--primary-blue);
  color: white;
}

.btn-transparent {
  color: #88a;
  color: var(--desaturated-blue);
  background-color: transparent;
}

.btn:hover {
  box-shadow: 0 0 1px 2px black;
  font-size: 16px;
}

.btn:active {
  box-shadow: inset 0 0 2px 2px black;
  padding-top: 5px;
}
